# q1

In [2]:
my_name ='Fiorella'
print(my_name)

Fiorella

# q2

In [2]:
my_id = 17
print(my_id)

17

# q3

In [8]:
my_id_str ='17'
print (my_id_str)

17

# q4

In [9]:
my_name + my_id

TypeError: must be str, not int

It doesn't work because you cannot use a string plus an integer

# q5

In [10]:
my_name + my_id_str

'Fiorella17'

# q6

In [11]:
my_string = "hello, world. This is my first python string."

In [12]:
print(my_string.split())

['hello,', 'world.', 'This', 'is', 'my', 'first', 'python', 'string.']

# q7

In [18]:
str_list=['a','b','c','d','e']
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

# q8

In [21]:
str_list=['a','b','c','d','e']
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [22]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [23]:
str_list[2]

'c'

# q11

In [11]:
num_list=[12,32,43,35]
print(num_list)

[12, 32, 43, 35]

In [28]:
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# q12

In [4]:
my_dict={'name':'fiorella','id':'17'}
print(my_dict)

{'name': 'fiorella', 'id': '17'}

# q13

In [38]:
my_dict['name']='levine'
print(my_dict)

{'name': 'levine', 'id': '17'}

# q14

In [5]:
print(my_dict['id'])

17

# q15

In [8]:
my_dict['id']= 4
print(my_dict['id'])

4

# q16

In [12]:
my_dict["num_list"]= num_list
print(my_dict)

{'name': 'fiorella', 'id': 4, 'num_list': [12, 32, 43, 35]}

Since a new key was added to the dictionary, "num_list", the value became the list that was connected to "num_list"