# q1

In [2]:
result=1
for i in range (1,6):
    result=result * i
print (result)

120

# q2

In [3]:
result=0
for i in range (1,6):
    result=result+i
print(result)

15

# q3

In [5]:
result=1
for i in range(3,10):
    result=result*i
print(result)

181440

# q4

In [7]:
result=1
for i in range(4,9):
    result=result*i
print(result)

6720

# q5

In [14]:
for i in range(0,6):
    if i !=3:
        print(i)

0
1
2
4
5

# q6

In [15]:
count = 0 
for i in 'this is my fourth string'.split():
    count = count+1
print(count)

5

# q7

In [32]:
num_list=(12,32,43,35)
print(num_list)

(12, 32, 43, 35)

In [35]:
num_list=[12,32,43,35]

while num_list: 
    
    num_list.remove(num_list[0])
    
print(num_list)

[]

# q8

In [60]:
my_str='this is my fourth string'.split()

count=0 

while my_str:
    
    count=count+1
    
    my_str.remove(my_str[0])
    
print(count)

5

# q9

In [88]:
my_tweet={
          "favorite_count":1138, 
          "lang": "ch",
          "coordinates": (-75.14310264, 40.05701649),
          "entities":{ 'hashtags' :["a", "b", "c"]}
        }

my_tweet['entities']['hashtags']

['a', 'b', 'c']

# q9.1

In [89]:
count = 0 
for i in my_tweet['entities']['hashtags']:
    count = count+1
print(count)

3

# q9.2

In [94]:
hashtag_list=my_tweet['entities']['hashtags']

count=0

while hashtag_list:
    
    count=count+1
    
    hashtag_list.remove(hashtag_list[0])
    
print(count)

3

# q10

In [95]:
num_list=(12,32,43,35)

max_item = num_list[0]

for current_item in num_list:
    if max_item< current_item: 
        max_item = current_item 
    
print (max_item)

43

In [97]:
num_list=(12,32,43,35)

min_item = num_list[0]

for current_item in num_list:
    if min_item> current_item: 
        min_item = current_item 
    
print (min_item)

12